<section class="lp-layer features | padding-block-8">
    <div class="layer_inner border-bottom">
        <div class="layer_header | center">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);"><span>Why</span> GSX Hub?</h2>
            <p>Cut out the unnecessary work of installing profiles and enjoy more flying in MSFS.</p>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
                        <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                    </svg>
                </span>
                <h4 class="fs-headline-xs fw-semibold">Instant Updates</h4>
                <p>Keep your profiles up-to-date with ease. Just how the creators intended!</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0m-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708z"/>
                    </svg>
                </span>
                <h4 class="fs-headline-xs fw-semibold">One-Click Download</h4>
                <p>No need to download .zip files anymore, one-click download straight to your GSX folder.</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                </span>
                <h4 class="fs-headline-xs fw-semibold">Automatic Recommendations</h4>
                <p>Not sure which profile you need for a scenery? We'll show you!</p>
            </div>
        </div>
    </div>
</section>