<section class="lp-layer features">
    <div class="layer__inner">
        <div class="layer__header"><h2>Features</h2></div>
        <div class="grid-column-3">
            <div class="grid_card">
                <h2>Creator Community</h2>
                <p>Fostering an active community of creators</p>
                <a class="button" href="/docs/contribute/get-started/">Contribute</a>
            </div>
            <div class="grid_card">
                <h2>Instant Updates</h2>
                <p>Keep your profiles up-to-date with ease. Just how the creators intended!</p>
            </div>
            <div class="grid_card">
                <h2>One-Click Download</h2>
                <p>No need to download .zip files anymore, one-click download straight to your GSX folder.</p>
            </div>
        </div>
    </div>
</section>