<section class="lp-layer hero">
    <div class="layer__inner | even-columns">
        <!-- To change the alignment of the text & image just place the <div class="hero-image"> above "hero-text" -->
        <div class="hero-text">
            <h1>GSX Hub</h1>
            <p>An installation / manager tool for GSX Profiles.</p>
            <!-- By using data-type inverted we can create an alternative styling -->
            <a class="button" href="https://github.com/GSX-Hub/App/releases/latest">Download</a> <a class="button" data-type="inverted" href="contribute/get-started/">Docs</a>
        </div>
        <div class="hero-image">
            <img src="assets/images/GSXHub_HD5I5Zg3N4.png" alt="hero image">
        </div>
    </div>
</section>