<section class="lp-layer components">
    <div class="layer_inner padding-block-32">
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/images/5UeisH9K9a.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Fostering a community of creators</h4>
                    <p class="padding-block-8">Add your profile to the GSX Hub and let users download it with a single click. We've explained how to upload and maintain through a simple step-by-step process.</p>
                    </p>
                    <button class="button right"><a href="/docs/contribute/get-started/">Contribute</a><span></span></button>
                </div>
            </div>
        </div>
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">Easy Profile Management</h4>
                    <p class="padding-block-8">Easily update compatible profiles or remove them from your folder entirely.</p>
                </div>
                <div class="grid-image">
                    <img class="box-shadow" src="assets/images/1U8Bymz9el.png">
                </div>
            </div>
        </div>
    </div>
</section>